PIPESIGHT_HOST=0.0.0.0
PIPESIGHT_PORT=8000
PIPESIGHT_FFMPEG_EXE=ffmpeg
PIPESIGHT_MEDIAMTX_EXE=/usr/local/bin/mediamtx
PIPESIGHT_MEDIAMTX_CONFIG=./third_party/mediamtx/mediamtx.yml
PIPESIGHT_MEDIAMTX_RTSP_PORT=8554
PIPESIGHT_MEDIAMTX_WEBRTC_PORT=8889
PIPESIGHT_RECORDING_SEGMENT_MINUTES=30

